.article-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.feed-detail-container {
  display: flex;
  padding: 100px 0px 80px calc(25vw);
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f2f2f2;
}

.feed-detail-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // height: 150px;
  max-width: 625px;
}

.feed-detail-header-divider {
  display: flex;
  flex-direction: column;
}

.feed-detail-title {
  font-size: 40px;
  color: $custom-blue;
  font: bold 52px Helvetica, Arial, Sans-Serif;
}

.pLatest {
  font-size: 12px;
  padding-top: 24px;
  padding-bottom: 54px;
  color: #757575;
  bottom: 34px;
  font-weight: bold;
}

.follow-collection-dropdown {
  position: relative;
  display: inline-block;
}

.follow-button {
  font-weight: 700;
  padding: 12px 17px 10px 17px;
  border: 1px solid #e2e2e2;
  background-color: white;
  color: #757575;
  border-radius: 7px;
  cursor: pointer;
  height: 16px;
  min-width: 75px;
  font-size: 12px;
  justify-content: center;
  text-align: center;
}

.subscription-name {
  position: relative;
  justify-content: space-between;
}

.follow-icon {
  position: absolute;
  right: 10px;
  color: blue;
}

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}

.fa-plus {
  color: $custom-blue;
  right: 6px;
}

.collection-dropdown {
  display: none;
  position: absolute;
  background-color: white;
  width: 240px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.collection-dropdown p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.collection-dropdown p:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.show {display:block;}

.new-collection {
  color: $custom-blue !important;
  font-size: 14px;
}

.new-collection-input {
  width: 208px;
  height: 18px;
  padding: 12px 16px;
}

.article-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 45px;
  margin-right: 40px;
  max-width: 625px;
  max-height: 100px;
}

.article-box:hover {
  cursor: pointer;
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
}

.article-content-container {
  position: relative;
}

.article-image {
  height: 100px;
  width: 100%;
  max-width: 100px;
  margin-right: 24px;
  box-sizing: border-box;
  border-radius: 5px;
}

.article-title {
  font-weight: bold;
  padding-bottom: 5px;
  line-height: 1.25em;
  font-size: 20px;
}

.article-description {
  font-size: 12px;
  color: $gray;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 36px;
}

.article-date-feed-container {
  position: absolute;
  height: 18px;
  padding-top: 10px;
  color: $gray;
  width: 100%;
  bottom: 0;
}

.article-feed {
  font-size: 10px;
  padding-top: 3px;
  padding-right: 3px;
  float: left;
}

.article-date {
  font-size: 10px;
  padding-top: 3px;
  float: left;
}

.article-feed-img {
  width: auto;
  max-width: 18px;
  height: 18px;
  float: left;
  border-radius: 3px;
  margin-right: 2px;
}

.article-date-no-feed-container {
  color: $gray;
  padding-top: 10px;
  opacity: .8;
}


.ReactModal__Content--after-open .article-modal {
  display: none
}

.article-modal {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.498039) 8px 10px 34px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  padding: 45px;
}

@-webkit-keyframes animatetop {
    from {right:-300px; opacity:0}
    to {right:0; opacity:1}
}

@keyframes animatetop {
    from {right:-300px; opacity:0}
    to {right:0; opacity:1}
}

.article-modal-detail {
  font-family: sans-serif;
  line-height: 1.5;
}

.article-modal-image {
  height: auto;
  max-width: 500px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.article-modal-header {
  border-bottom: 1px solid $light-gray;
  position: relative;
  padding-bottom: 17px;
  margin-bottom: 10px;
}

.article-modal-title {
  font-size: 32px;
  margin: 15px;
  margin-bottom: 0;
  margin-left: 0;
  font-weight: bold;
}

.article-modal-pubDate {
  float: right;
  font-size: 12px;
}

.article-modal-author {
  float: left;
  color: $gray;
  font-size: 12px;
}

.article-modal-content {
  line-height: 1.75;
}

.link-button {
  display: inline-block;
  border: 1px solid $light-gray;
  border-radius: 5px;
  padding: 12px 17px;
  width: calc(100% - 34px);
  margin-top: 24px;
  justify-content: center;
  text-align: center;
  color: $gray;
}
