.collection-container {
  display: flex;
  flex-direction: column;
  color: $custom-blue;
  line-height: 28px;
}


.all-gear-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 90%;
  margin-top: 30px;
  padding-bottom: 20px;
}

.collection-header {
  padding-top: 8px;
  height: 28px;
  font-size: 14px;
  font-weight: bold;
  color: $custom-blue;
}

.fa-cog {
  font-size: 15px;
  padding-top: 5px;
  color: $custom-blue;
}

.fa-cog:hover {
  font-weight: 400;
  color: black;
  cursor: pointer;
}

.collection-display {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 13px;
}

.collect-feed-container {
  display: none;
}

.collection-display > i {
  width: 28px;
  height: 28px;
  margin-right: 4px;
  vertical-align: top;
  font-weight: 200;
  padding-top: 7px;
}

.collection-display > p {
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
}

.toggle-up {
  display: none;
}

.subscription-feed-container {
  display: flex;
  flex-direction: row;
  height: 28px;
  font-size: 13px;
  padding-left: 20px;
}

.subscription-feed-container:hover {
  background-color: $dark-blue;
  cursor: pointer;
}

.subscription-feed {
  padding-top: 7px;
}

.subscription-feed-img {
  width: 20px;
  height: 20px;
  padding-right: 5px;
  padding-top: 5px;
}

.subscription-feed-img:hover {
  font-weight: bold;
}

.collection-display:hover {
  background-color: $dark-blue;
  cursor: pointer;
  width: 100%;
}
