.feed-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.feed-item {
  display: flex;
  border: 1px solid $light-gray;
  width: 250px;
  height: 250px;
  margin: 10px;
}

.feed-form {
}
