.feed-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.feed-item {
  position: relative;
  border: 1px solid $light-gray;
  width: 250px;
  height: 250px;
  margin: 10px;
}

.feed-logo {
  position: absolute;
  width: 100%;
  height: 140px;
  z-index: -1;
}

.feed-title:hover {
  cursor: pointer;
}

.feed-title {
  padding-top: 120px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $light-gray;
  font-weight: 400;
  font-size: 18px;
}

.feed-description {
  padding: 16px;
  height: 36px;
  border-bottom: 1px solid $light-gray;
}

.feed-subscribe {
  color: $custom-blue;
  display: inline-block;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.feed-subscribe:hover {
  cursor: pointer;
}

.feed-form {
  width: 840px;
  padding-top: 175px;
  padding-left: 155px;
  padding-right: 155px;
}

.new-feed-description {
  font-family: sans-serif;
  margin: 24px 0;
  font-size: 1.25rem;
  color: $gray;
  font-weight: 300;
}

.new-feed-bar {
  position: relative;
  transition: width 2s;
}

.new-feed-url {
  box-sizing: border-box;
  border: 1px solid $light-gray;
  border-radius: 4px;
  padding: 10px 10px 10px 55px;
  width: 70%;
  height: 55px;
  -webkit-transition: width 2s;
  transition-duration: 0.7s;
}


.new-feed-url:focus {
  box-shadow: 0 0 5px $blue;
  border: 1px solid $blue;
}

.new-feed-icon {
  padding-left: 0.75rem;
  font-size: 1.5rem;
  padding-top: 5px;
  padding-bottom: auto;
}

.help-guide {
  float: right;
}


.pResult {
  font-size: 12px;
  margin-top: 48px;
  margin-bottom: 24px;
  font-weight: bold;
  color: #757575;
}

.feed-result-image {
  width: 78px;
  height: 78px;
  padding-right: 10px;
}

.feed-result {
  display: flex;
}

.feed-result-detail {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
  font-family: sans-serif;
  width: 540px;
}

.feed-result-title {
  font-weight: bold;
}

.feed-result-description {
  color: #757575;
}

.follow-btn {
  border: 1px solid $custom-blue;
  font-family: sans-serif;
  padding: 4px 15px;
  height: 22px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  color: $custom-blue;
}
