.feed-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  height: 100%;
  padding-left: 30px;
  padding-top: 200px;
}

.feed-item {
  width: 300px;
  height: 300px;
  background-color: white;
  background-size: cover;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 20px;
  margin-bottom: 20px;
}

.feed-logo {
  width: auto;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.feed-title:hover,
.feed-logo:hover {
  cursor: pointer;
}

.feed-title {
  display: none;
  padding-bottom: 10px;
  border-bottom: 1px solid $light-gray;
  font-weight: 400;
  font-size: 18px;
  justify-content: center;
}

.feed-description {
  display: none;
  padding: 16px;
  height: 36px;
  border-bottom: 1px solid $light-gray;
  background-color: $custom-blue;
  color: white;
}

.feed-subscribe {
  color: $custom-blue;
  display: inline-block;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.feed-subscribe:hover {
  cursor: pointer;
}

.feed-form {
  position: relative;
  width: 840px;
  padding-top: 150px;
  padding-left: 155px;
  padding-right: 155px;
}

.search-feed-btn {
  position: relative;
  border: 1px solid $custom-blue;
  padding: 6px 12px;
  border-radius: 3px;
  color: white;
  background-color: $custom-blue;
  float: right;
  right: 250px;
  top: 25px;
}

.new-feed-description {
  font-family: sans-serif;
  margin: 24px 0;
  font-size: 1.25rem;
  color: $gray;
  font-weight: 300;
}

.new-feed-bar {
  position: relative;
  transition: width 2s;
}

.new-feed-url {
  box-sizing: border-box;
  border: 1px solid $light-gray;
  border-radius: 4px;
  padding: 10px 10px 10px 55px;
  width: 70%;
  height: 55px;
  -webkit-transition: width 2s;
  transition-duration: 0.7s;
}


.new-feed-url:focus {
  box-shadow: 0 0 5px $blue;
  border: 1px solid $blue;
}

.new-feed-icon {
  padding-left: 0.75rem;
  font-size: 1.5rem;
  padding-top: 5px;
  padding-bottom: auto;
}

.help-guide {
  float: right;
}


.pResult {
  font-size: 12px;
  margin-top: 48px;
  margin-bottom: 24px;
  font-weight: bold;
  color: #757575;
}

.feed-result-image {
  width: 78px;
  height: 78px;
  padding-right: 10px;
}

.feed-result {
  display: flex;
}

.feed-result-detail {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
  font-family: sans-serif;
  width: 540px;
}

.feed-result-title {
  font-weight: bold;
}

.feed-result-description {
  color: #757575;
}

.follow-btn {
  border: 1px solid $custom-blue;
  font-family: sans-serif;
  padding: 4px 15px;
  height: 22px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  color: $custom-blue;
}
