.sidebar-container {
  position: fixed;
  height: 100%;
  background-color: white;
  z-index: 2;
  padding-left: 3vw;
  padding-right: 3vw;
}

.sidebar-nav {
  display: flex;
  flex-direction: row;
}

.add-button {
  position: absolute;
  font-weight: 300;
  font-size: 14px;
  font-family: sans-serif;
  color: white;
  width: 100%;
  background-color: $custom-blue;
  height: 50px;
  text-align: center;
  bottom: 0;
  left: 0;
  padding-left: 0;
}

.add {
  margin-right: 5px;
  color: white;
}

.discover-button {
  margin-top: 35px;
  margin-left: 12px;
  margin-right: auto;
  color: $custom-blue;
  padding: 14px 30px;
  border: 1px solid $custom-blue;
  border-radius: 3px;
}
