.sport-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 200px;
  padding-left: 50px;
}

.sport-item {
  width: 200px;
  height: 133px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 30px;
  margin-bottom: 30px;
}

.sport-item:hover {
  cursor: pointer;
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
}

.sport-title {
  position: absolute;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.sport-image {
  width: 200px;
  height: 133px;
}

.sport-cover {
  width: auto;
  height: auto;
}
